.accordion .answer{
    display:none;
}
.question{
    background-color:black; /*/ Black /*/
    color:white;
    padding:2%;
}

.accordion.active .answer{
    display:block;
    background-color:darkslategrey; /*/ Black /*/
    color:white;
    padding:2%;
}

.question::before {
    content: '+ ';
}

.question:hover, 
.accordion.active .question{
    background-color:#121212; /*/ Black /*/
    cursor:pointer;
}

.accordion.active .question::before {
    content: '- ';
}
