.portfolio{
    height:250px;
    background-size:cover;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
  }
  .portfolio:hover{
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
  }
  #portfolio-1{
    background-image: url('../img/portfolio/1.jpg');
  }
  #portfolio-2{
    background-image: url('../img/portfolio/2.jpg');
  }
  #portfolio-3{
    background-image: url('../img/portfolio/3.jpg');
  }
  #portfolio-4{
    background-image: url('../img/portfolio/4.jpg');
  }
  #portfolio-5{
    background-image: url('../img/portfolio/5.jpg');
  }
  #portfolio-6{
    background-image: url('../img/portfolio/6.jpg');
  }
  #portfolio-7{
    background-image: url('../img/portfolio/7.jpg');
  }
  #portfolio-8{
    background-image: url('../img/portfolio/8.jpg');
  }
  